@charset "EUC-KR";

/* body */
body{
	background-color: #E2E2E2;
}

/* Table */
table {
	margin: auto;
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 2px;
}

th,td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

.address {
	padding: 5px 100px;
}

a {
	color: white; /* 글자색을 흰색으로 변경 */
	text-decoration: none; /* 기본 밑줄 제거 */
}

/* Header */
header {
	text-align: center;
	background-color: royalblue;
	padding: 15px;
}

/* Navigation */
nav {
	overflow: hidden;
	background-color: mediumpurple;
}

nav a{
	  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
	background-color: #ddd;
	color: black;
}

