<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 오류 페이지 설정하기 :모든 구현을 끝내고 마지막에 작성하기★★★★★ -->
  	<!-- ▶ 이유 : 오류를 발견해야 디버깅 할 수 있음 -->
  <!-- 모든 Exception 이 생겼을 때 error.jsp 로 URL 이동하기 -->
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/error.jsp</location>
  </error-page>
  <!-- 에러코드 404 에 대한 처리 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error.jsp</location>
  </error-page>
</web-app>