@charset "UTF-8";
main table{
	width: 700px;
	margin: auto;
}
td {
	/* 테두리 */
	border: 1px solid gray;
	padding: 5px;
}
td:first-child {
	/* 첫번째 열 너비 */
	width : 35%;
	text-align: center;
}

td:last-child > input[type=text],input[type=date],button{
	/* 두번째 열 너비 */
	padding: 5px;
}