@charset "EUC-KR";

main {
	width: 70%;	/* 화면의 70% */
	margin: auto;	/* 중앙으로 정렬 */
}

/* class를 선택자로 할 때는 기호 . 을 사용한다. */
div.gallery{
	border: 1px solid #ddd;
	margin: 10px;
	/* 박스의 그림자를 지정 */
	box-shadow: -5px -5px 5px gray;
	/* 이어지는 블록 요소를 좌측으로 이어지도록 한다. */
	float: left;
}

/* (hover) 마우스가 요소 위로 올라가면 보이는 스타일 설정 */
div.gallery:hover {	/* hover 라는 ★가상 클래스★ 사용 */
	border: 1px solid #777;
}

/* gallery 클래스의 자손 중 img 태그에 적용하는 선택자 : 기호는 공백 */
.gallery img {
	width: 200px;
	height: 200px;
	/* 이미지 비율을 유지하면서 적정하게 지정된 크기로 보여준다. */
	object-fit: cover;
}

div.desc {
	width: 200px;
	height: 50px;
	padding: 10px;
	text-align: center;
	font-size: 80%;
	/* 크기를 계산할 때 너비와 높이가 padding, border 를 포함하도록 한다. */
	box-sizing: border-box;
}